<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Rail Seeker</title>
</head>

<body id="top" class="day">
    <header class="day">
        <div class="sun day toggler"><a></a></div>
        <div class="moon day toggler"><a></a></div>

        <div class="cloud-container">
            <div class="cloud"></div>
            <div class="cloud"></div>
            <div class="cloud"></div>
            <div class="cloud"></div>
            <div class="cloud"></div>
        </div>
        <div class="stars day">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        <div class="banner">
            <div class="circle"></div>
            <h1>
                <b>Rail Seeker</b>
            </h1>
        </div>
        </div>

        <div class="train-container">
            <div class="train">
                <div class="train-car head-car">
                    <div class="roof"></div>
                    <div class="windows">
                        <div class="head-car-window"></div>
                        <div class="w-left"></div>
                        <div class="w-right"></div>
                    </div>
                    <div class="door"></div>
                </div>

                <div class="train-car">
                    <div class="roof"></div>

                    <div class="windows">
                        <div class="w-left"></div>
                        <div class="w-right"></div>
                    </div>
                    <div class="door"></div>
                    <div class="windows">
                        <div class="w-left"></div>
                        <div class="w-right"></div>
                    </div>
                </div>

                <div class="train-car">
                    <div class="roof"></div>

                    <div class="windows">
                        <div class="w-left"></div>
                        <div class="w-right"></div>
                    </div>
                    <div class="door"></div>
                    <div class="windows">
                        <div class="w-left"></div>
                        <div class="w-right"></div>
                    </div>
                </div>

                <div class="train-car">
                    <div class="roof"></div>

                    <div class="windows">
                        <div class="w-left"></div>
                        <div class="w-right"></div>
                    </div>
                    <div class="door"></div>
                    <div class="windows">
                        <div class="w-left"></div>
                        <div class="w-right"></div>
                    </div>
                </div>

                <div class="train-car">
                    <div class="roof"></div>

                    <div class="windows">
                        <div class="w-left"></div>
                        <div class="w-right"></div>
                    </div>
                    <div class="door"></div>
                    <div class="windows">
                        <div class="w-left"></div>
                        <div class="w-right"></div>
                    </div>
                </div>

                <div class="train-car end-car">
                    <div class="roof"></div>

                    <div class="door"></div>


                </div>

            </div><!-- end .train-->



        </div>
        <nav>
            <div class="nav-wrap">
                <a href="/"><span>Home</span></a>
                <a href="/what.ejs"><span>What?</span></a>
                <a href="/how.ejs"><span>How?</span></a>
                <a href="/who.ejs"><span>Who?</span></a>
            </div>
        </nav>
    </header>