<%- include("partials/header.ejs" ) %>
    <div class="main-box">
        <div class="main">
            <div class="wrapper">
                <div class="content">


                    <h1>How?</h1>

                    <p>Rail Seeker was crafted using modern technologies like Node.js, Express, Axios, and EJS. APIs
                        were seamlessly integrated to provide train information. Frontend design focused on intuitive
                        interfaces, while the backend ensured efficient data processing. Deployment was simplified, and
                        optimized.</p>


                </div>
            </div>
        </div>
        <%- include("partials/footer.ejs" ) %>