<%- include("partials/header.ejs" ) %>
    <div class="main-box">
        <div class="main">
            <div class="wrapper">
                <div class="content">

                    <h1>What is Rail Seeker?</h1>
                    <p>Rail Seeker is a project designed to explore the realms of web development, particularly focusing
                        on Node.js, Express, Axios, EJS, and APIs. The primary objective behind Rail Seeker was to delve
                        into the intricacies of these technologies and gain hands-on experience in building web
                        applications.</p>

                    <p>Originally conceived as a platform to not only offer train information but also facilitate PNR
                        number searches, Rail Seeker encountered a roadblock due to governmental restrictions. The
                        Indian government provides APIs for PNR number searches, but they are restricted for commercial
                        use only. This limitation prompted the adoption of a third-party API for the project's
                        functionality.</p>

                    <p>Despite this setback, Rail Seeker remained an invaluable learning experience, offering insights
                        into the development process, API integration, and problem-solving strategies. Through Rail
                        Seeker, I honed my skills in backend development, frontend design, and the seamless integration
                        of various technologies, paving the way for future endeavors in web development.</p>
                </div>

            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs" ) %>