<%- include("partials/header.ejs" ) %>
    <div class="main-box">
        <div class="main">
            <div class="wrapper">
                <div class="content">

                    <h1>WHO?</h1>
                    <br><br>
                    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark"
                        data-type="HORIZONTAL" data-vanity="priyanshu-baraiya" data-version="v1"><a
                            class="badge-base__link LI-simple-link"
                            href="https://in.linkedin.com/in/priyanshu-baraiya?trk=profile-badge">Priyanshu Baraiya</a>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs" ) %>